pymupdf 
langchain 
openai 
tiktoken 
python-dotenv
tabula-py 
jpype1
openai 
tqdm  
pillow
pinecone-client==2.2.4
pdfplumber 
jpype1 
tabula-py 
pillow
Pillow 
imagehash
pytesseract 
pillow 
spacy==3.7.2
nest_asyncio
spacy==3.7.2
thinc==8.2.2
numpy==1.26.4
langchain_openai
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl



