pymupdf 
langchain 
openai 
pinecone-client 
tiktoken 
python-dotenv
tabula-py 
jpype1
openai 
tqdm  
pillow
pinecone
pdfplumber 
jpype1 
tabula-py 
pillow
Pillow 
imagehash
pytesseract 
pillow 
spacy==3.7.2
nest_asyncio
spacy==3.7.2
thinc==8.2.2
numpy==1.26.4
langchain_openai

