pymupdf 
langchain 
openai 
pinecone-client 
tiktoken 
python-dotenv
tabula-py 
jpype1
openai 
tqdm  
pillow
pinecone
pdfplumber 
jpype1 
tabula-py 
pillow
Pillow 
imagehash
pytesseract 
pillow 
spacy==3.7.2